use master
GO

CREATE DATABASE [nestdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'nestdb', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\nestdb.mdf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'nestdb_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\nestdb_log.ldf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
 COLLATE Modern_Spanish_CI_AS
GO
USE [nestdb]
GO
USE [nestdb]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [nestdb] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
